
  .text-grey {
    color: #bbbbbb;
  }
  .butn.butn-bg {
    font-weight: 600;
    background: #d01700;
    color: #ffffff;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.butn.butn-bg:hover {
  font-weight:600;
  background: #ffffff;
  border-color: none;
  color: #000 !important;
}
.butn.butn-sm {
    padding: 10px 25px;
}
.radius-3 {
  border-radius: 3px;
}

  .copyright .underline:hover{
    color: #ffffff;
  }

  
 
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
  }

  .container-fluid{
    max-width: 1420px;
    
    margin-right: auto;
    margin-left: auto
}


.container-fluid2 {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}


.social-text li a {
  color: #bbbbbb;
text-transform: none;
  font-size: 14px;
  font-weight: 300;
  font-family: "Lexend Deca", sans-serif;

}
.social-text li a:hover {
  color: #ffffff;
  text-decoration: underline;

}


footer .social-text li {
    margin-bottom: 10px;

}
.text-yellow{
  color: #d01700;
}
.icons-list,
.icons-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.icons-list {
  margin: 0 -31px;
}
.icons-list li {
  margin-right: 55px;
}
.icons-list a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 18px;
}
.no-touch .icons-list a {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.no-touch .icons-list a:hover {
  opacity: 0.5;
}
.icons-list svg {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  fill: #d01700;
}
.footer .in-touch,
.footer .locations {
  font-size: 16px;
  line-height: 24px;
}
.footer .in-touch p {
  color: #fff;
  font-weight: 600;
  margin-bottom: 28px;
}

.in-touch .link {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  margin-top: 30px;
  color: #ffffff;
}

.main a,
.is-root-container a,
.link {
    color: var(--color-dark-grey);
    position: relative;
    text-decoration: none;
    transition: color .5s ease
}
.main a::before,
.is-root-container a::before,
.link::before,
.main a::after,
.is-root-container a::after,
.link::after {
    background: #ffffff;
    bottom: -.1em;
    content: '';
    height: .08em;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1
}



.get-in-touch.color .request-link,
.our-thinking-slider .item-heading time,
.related-posts-slider .item-heading time {
  margin-bottom: 0;
}
.get-in-touch.color .request-link:before {
  background: #fff;
}
.request-link {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  position: relative;
  font-family: inherit;
  font-weight: 600;
  color: #fff;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.no-touch .request-link:hover:before {
  height: 100%;
}
.win-system .request-link::before {
  bottom: -2px;
}
.request-link:before {
  content: "";
  position: absolute;
  right: -20px;
  left: -20px;
  height: 4px;
  bottom: 0;
  z-index: -1;
  background: #d01700;
  -webkit-transition: height 1.1s;
  transition: height 1.1s;
}

.request-link:before {
  right: -3px;
  left: -3px;
}

.win-system .request-link::before {
  bottom: -3px;
}
.request-link:before {
  bottom: 10px;
}

.get-in-touch.color {
  text-align: center;
  display: block;
  background: #d01700;
  padding-bottom: 57px;
}
.get-in-touch.color.has-animation {
  background: 0 0;
  position: relative;
  z-index: 10;
}
.get-in-touch.color.has-animation:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #d01700;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  z-index: -1;
}
.get-in-touch.color.has-animation .container {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
  transition: opacity 0.5s ease, transform 1s ease;
  transition: opacity 0.5s ease, transform 1s ease, -webkit-transform 1s ease;
}
.get-in-touch.color.has-animation.animate .container {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.get-in-touch.color .container {
  position: relative;
  z-index: 2;
}
.get-in-touch.color .h4,
.get-in-touch.color h4,
.our-culture ul li {
  font-weight: 300;
}
.get-in-touch.color .request-link,
.our-thinking-slider .item-heading time,
.related-posts-slider .item-heading time {
  margin-bottom: 0;
}
.get-in-touch.color .request-link:before {
  background: #fff;
}

.block-video-teaser,.block-video-teaser>.block-editor-inner-blocks>.block-editor-block-list__layout {
  align-items: center;
  display: grid;
  grid-template-columns: 2em 70% auto 2em;
  grid-template-rows: auto 2em auto;
  transition: grid-template-rows .5s ease, grid-template-columns .5s ease, width .5s ease;
  width: calc(100% + 2em)
}

.block-video-teaser .block-heading, .block-video-teaser .wp-block-acf-substratum-heading {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  z-index: 1
}

.block-video-teaser .block-image, .block-video-teaser .wp-block-acf-substratum-image {
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  z-index: 0
}

@media (min-width: 31.25rem) {
  .block-video-teaser,.block-video-teaser>.block-editor-inner-blocks>.block-editor-block-list__layout {
      grid-template-columns:2.25em 70% auto 2.25em;
      width: calc(100% + 2.25em)
  }
}

@media (min-width: 50rem) {
  .block-video-teaser,.block-video-teaser>.block-editor-inner-blocks>.block-editor-block-list__layout {
      grid-template-columns:4em 70% auto 4em;
      width: calc(100% + 4em)
  }
}

@media (min-width: 65rem) {
  .block-video-teaser,.block-video-teaser>.block-editor-inner-blocks>.block-editor-block-list__layout {
      grid-template-columns:25% 5% 70%;
      grid-template-rows: auto;
      width: 100%
  }

  .block-video-teaser .block-heading, .block-video-teaser .wp-block-acf-substratum-heading {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      z-index: 1
  }

  .block-video-teaser .block-image, .block-video-teaser .wp-block-acf-substratum-image {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      z-index: 0
  }
}
.customshadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.15));
  width: 100%
}


@media (min-width:1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
      max-width: 1170px
  }
}

@media (min-width:1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
      max-width: 1420px
  }
}
.block-text {
  max-width: 40em;
  font-size: 18px;
  font-weight: 600;
}